{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    {% for data in logement %}
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <img src="{{ vich_uploader_asset(data, 'imageFile') }}" alt="" width="100%">
                </div>

                <div class="col-sm-6">
                    <h3 class="h3">{{ data.name }}</h3>
                    <p>{{ data.description }}</p>
                    <button id="btn-formulaire" class="btn btn-info ">Je réserve ce bien</button>
                    <div id="FormContainer" class="form-container none">
                       {% include('partials/_form-resa.html.twig') %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
