{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <header class="header">
            <h1 class="h1">Bienvenue sur le site de camping là</h1>
            {{ include('partials/_menu.html.twig') }}
        </header>
    </div>
    <div class="container">
        <main class="main">
            <h2 class="h2">Le meilleur site de camping du monde se trouvé ici présent</h2>
        </main>
    </div>

{% endblock %}
