<tr class="{% if ligne.label in ['Sous-total','TOTAL'] %} table-secondary {% endif %}">
    <td>{{ ligne.label }}</td>
    <td>{{ ligne.quantite }}</td>
    <td>{{ ligne.prixUnitaire }}
        {% if ligne.label not in ['remise','Sous-total','TOTAL']%}  €  {% endif %}
    </td>
    <td>{{ ligne.total }} € </td>
</tr>