<div class="card mb-5">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th colspan="3">Facture du {{ date.format('d/m/Y') }}</th>

                <th>ID : {{ factureId[loop.index0]  }}</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="h6" width="25%">Label</td>
                <td class="h6" width="25%">Quantité</td>
                <td class="h6" width="25%">Prix Unitaire</td>
                <td class="h6" width="25%">Total</td>
            </tr>

            {% for ligne in res %}

                {% include('partials/_facture_table.html.twig' ) %}

            {% endfor %}



            </tbody>

        </table>
        {% if page == 'ajout' %}
        <div class="text-center">
            <a href="{{ path('app_facture') }}" class="btn btn-outline-info btn-sm">Enregistrer</a>
        </div>
        {% endif %}
    </div>
</div>