<nav class="navbar navbar-expand-lg navbar-light ps-4 mb-4 mt-4" style="background-color: #9FFFCB;">
    <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ path('app_logement') }}">Liste biens</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_admin_reservations') }}">Réservations
                    (admin)</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_facture') }}">factures (admin)</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_connexion') }}">Connexion</a></li>
        </ul>
    </div>

</nav>
