{% extends('base.html.twig') %}

{% block title %}  Ajout facture  {% endblock %}

{% block body %}

    <div class="container">
        {% block content %}
            <h2 class="h2">Ajout Facture</h2>
            {% for res in resultats %}
                {% include('partials/_facture_full_table.html.twig') %}
            {% endfor %}
        {% endblock %}
    </div>

{% endblock %}