{% extends 'base.html.twig' %}
{% block title %} Administration{% endblock %}
{% block body %}
    <div class="container">
        <h2>
            Page d'administration
        </h2>
        {{ include('partials/_menu.html.twig') }}
    </div>
{% endblock %}