{% extends('base.html.twig') %}
{% block title %}  Modification  {% endblock %}

{% block body %}

    <div class="container">
        <header>
            <h2 class="h2">Modification</h2>

            <p class="h4">Vous pouvez modifier comme vous voulez la réservation</p>

        </header>
        <main>
            {% include('partials/_form-resa.html.twig') %}
        </main>
    </div>

{% endblock %}