{% extends 'base.html.twig' %}

{% block title %}Les Clients{% endblock %}

{% block body %}
    <div class="container">
        {{ include('partials/_menu.html.twig') }}
        <h2 class="h2">
            La liste des clients :
        </h2>
        {% for message in app.flashes('success') %}
            <div class="row d-flex flex-row justify-content-center mb-2">
                <div class="alert alert-success" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="row">
            {% for res in resultats %}
                <div class="col-sm-4">

                    <div class="card mb-5">
                        <div class="card-body">

                            <div class="card-title">
                                <h5 class="h5">{{ res.firstName }} {{ res.lastName }}</h5>
                            </div>
                            <div class="card-text">
                                <p>Email : {{ res.email }}</p>
                            </div>

                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <form method="post"
                                  action="{{ path('app_admin_client_supp' , { id: res.id }) }}">
                                <input type="hidden" name="_token"
                                       value="{{ csrf_token('delete'~res.id) }}">
                                <button type="submit" class="btn btn-outline-danger btn-sm"
                                >Suppression
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}
