{% extends('base.html.twig') %}

{% block title %}  Liste des Réservations  {% endblock %}

{% block body %}

    <div class="container">
        {% include('partials/_menu.html.twig') %}
    </div>
    {% for message in app.flashes('success') %}
        <div class="row d-flex flex-row justify-content-center mb-2">
            <div class="alert alert-success" role="alert">{{ message }}</div>
        </div>
    {% endfor %}
    <main>
        <div class="container">
            <div class="row">
                {% for resa in reservations %}

                    <div class="col-sm-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ resa.logementId.typeLogement.name }}
                                </h5>
                                <p class="card-text">
                                <ul class="list-unstyled">
                                    <li class="list-unstyled">Réservé par
                                        : {{ resa.locataireId.firstName }} {{ resa.locataireId.lastName }}</li>
                                    <li class="list-unstyled">Du : {{ resa.checkIn.format('d/m/Y') }} </li>
                                    <li class="list-unstyled">Au : {{ resa.checkOut.format('d/m/Y') }} </li>
                                    <li class="list-unstyled">Nombre d'enfants : {{ resa.nbrEnfant }} </li>
                                    <li class="list-unstyled">Nombre d'adultes : {{ resa.nbrAdulte }} </li>
                                    <li class="list-unstyled">Piscine Enfants : {{ resa.jourPiscineEnfant }} </li>
                                    <li class="list-unstyled">Piscine Adulte : {{ resa.jourPiscineAdulte }} </li>
                                </ul>
                                </p>

                                {% if role in  ['admin'] %}
                                    <div class="d-flex flex-row justify-content-between">
                                        <form method="post"
                                              action="{{ path('app_admin_resa_supp' , { id: resa.id }) }}">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete'~resa.id) }}">
                                            <button type="submit" class="btn btn-outline-danger btn-sm"
                                            >Suppression
                                            </button>
                                        </form>
                                        <a href="{{ path('app_admin_facture_ajout', {id: resa.id}) }}"
                                           class="btn btn-outline-info btn-sm">Générer</a>
                                        <a href="{{ path('app_admin_resa_modif', {id: resa.id}) }}"
                                           class="btn btn-outline-warning btn-sm">Modification</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}