{% extends 'base.html.twig' %}

{% block title %}Les factures{% endblock %}

{% block body %}
    <div class="container">
        {{ include('partials/_menu.html.twig') }}
        <h2 class="h2">
            La liste des factures :
        </h2>

        <div class="row">
            {% for res in resultats %}
                <div class="col-sm-4">
                    {% include('partials/_facture_full_table.html.twig') %}
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}
