{% extends('base.html.twig') %}

{% block title %}  Ajout facture  {% endblock %}

{% block body %}

    <div class="container">
        {% block content %}
            <h2 class="h2">Votre facture</h2>
            {% for res in resultats %}
                <div class="card mb-5">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="3">Facture du {{ date.format('d/m/Y') }}</th>

                                <th>ID : {{ factureId[loop.index0]  }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="h6" width="50%" colspan="3">Label</td>
                                <td class="h6" width="25%">Total</td>
                            </tr>

                            {% for ligne in res %}

                                <tr class="{% if ligne.label in ['SOUS-TOTAL','TOTAL'] %} table-secondary {% endif %}">
                                    <td colspan="3">{{ ligne.label }}</td>
                                    <td>
                                        {% if ligne.label  in ['RETRIBUTION']%}-{% endif %}
                                        {{ ligne.prix }} €

                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                        {% if page == 'ajout' %}
                            <div class="text-center">
                                <a href="{{ path('app_facture') }}" class="btn btn-outline-info btn-sm">Enregistrer</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    </div>

{% endblock %}