{% extends 'base.html.twig' %}

{% block title %}Hello LogementController!{% endblock %}

{% block body %}
    <div class="container">
    {{ include('partials/_menu.html.twig') }}
        <div class="row">
            {% for datas in res %}

                {% for data in datas %}
                    <div class="col-sm-4">
                            <a href="{{ path('app_detail', {id:data.id} ) }}" class="card mb-4 text-light"
                               style="min-height: 20rem; height: 98%; background-color: #004E64; text-decoration: none;">
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="card-img-top">
                                        <img src="{{ vich_uploader_asset(data, 'imageFile') }}" alt="" width="100%">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ data.name }}</h5>
                                        <p class="card-text">{{ data.description }}</p>
                                    </div>
                                </div>
                        </div>
                            </a>
                    </div>

                {% endfor %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
