{% extends 'base.html.twig' %}

{% block title %}Hello LogementController!{% endblock %}

{% block body %}
<div class="container">
    {{ include('partials/_menu.html.twig') }}
    <div class="row">
        <div class="col-sm-4">
            <a href="{{ path('app_type', {page:'mobilHomes'} )  }}" class="card text-dark" style="text-decoration: none;">
                <div class="card-body">
                    <p>Mobil home</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('app_type', {page:'caravanes'}) }}" class="card text-dark" style="text-decoration: none;">
                <div class="card-body">
                    <p>Caravanes</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('app_type', {page:'emplacements'}) }}" class="card text-dark" style="text-decoration: none;">
                <div class="card-body">
                    <p>Emplacement de camping</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
