{% extends('base.html.twig') %}

{% block title %}  Liste des propriétées  {% endblock %}

{% block body %}

    <div class="container">

    <h2 class="h2">Bienvenue</h2>

        {{ include('partials/_menu.html.twig') }}

    </div>



{% endblock %}