{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="container pt-3">
        <div class="card">
            <div class="card-body ">
                {% if errors %}
                    <div class="alert alert-danger">
                        {{ errors.messageKey }}
                    </div>
                {% endif %}
                <form action="{{ path('app_connexion') }}" class="form" method="POST">
                    <div class="group-form">
                        <label for="username" class="form-label">Identifiant</label>
                        <input type="text" id="username" class="form-control" name="_username" value="{{ lastIdent }}">
                    </div>

                    <div class="group-form">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" name="_password">
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <button class="btn btn-outline-success btn-sm" type="submit">Connexion</button>
                        <a href="{{ path('app_home') }}" class="btn btn-outline-warning btn-sm">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
